:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --buttons-items-width: 3.75rem;
  --buttons-items-height: 3.75rem;
  --font-size: 1.2rem;
  --items-width: 3rem;
  --items-heigth: 3rem;
  --gap-space: 0.8rem;
  --border-radius-size: 0.25rem;
  /* animation */
  --animaion-duration: 300ms;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-black);
  height: 100vh;
  margin: 0;
}
/* header */
.logo {
  cursor: pointer;
  transition: transform var(--animaion-duration) ease;
}
.btn:hover,
.logo:hover {
  transform: scale(1.1);
}
/* buttons */
.buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: var(--gap-space);
}

.btn {
  width: var(--buttons-items-width);
  height: var(--buttons-items-height);
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius-size);
  transition: transform var(--animaion-duration) ease;
  font-size: var(--font-size);
}
.buttons img {
  width: var(--buttons-items-width);
  height: var(--buttons-items-height);
}

.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}
.pink {
  background-color: var(--color-pink);
}

/* items */

.items {
  margin: var(--gap-space);
  padding: 0;
  width: 60%;
  height: 60%;
  list-style: none;
  overflow-y: scroll;
}

.item {
  background-color: white;
  display: flex;
  align-items: center;
  gap: var(--gap-space);
  padding: var(--gap-space);
  margin-bottom: var(--gap-space);
}
.items > .item > img {
  width: var(--items-width);
  height: var(--items-height);
}

.item__description {
  font-size: var(--font-size);
}

.invisible {
  display: none;
}

@media screen and (max-width: 768px) {
  .buttons img {
    width: calc(var(--buttons-items-width) / 2);
    height: calc(var(--buttons-items-height) / 2);
  }
  .btn {
    padding-top: 5px;
    width: calc(var(--buttons-items-width) / 1.5);
    height: calc(var(--buttons-items-height) / 1.5);
  }
  .yellow,
  .pink,
  .blue {
    padding: 0;
    font-size: 12px;
    font-weight: 600;
  }

  .items > .item > img {
    width: calc(var(--items-width) / 2);
    height: calc(var(--items-height) / 2);
  }
  .items {
    width: 80%;
    height: 60%;
    overflow-y: scroll;
  }
}
