@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
h1{
 text-align: center;
/* padding: 20px 0; /*top left*/
 text-shadow: 1px 0px 30px rgb(255, 126, 5);
}
html{
    cursor: url(./img/smilecursor.gif), auto;
    width: 100%;
    height: 100%;
    margin : 0 ;
}
body{
    cursor: url(./img/smilecursor.gif), auto;
    background-color: white;
    width: 100%;
    height: 100%;
    margin : 0 ;
}
img{
    cursor: pointer;
    display:block;
    margin: 0 auto;
    padding-right: 3%;
}

#special1{
    font-size: 20pt;
}

.comment-row{
    padding: 5px 0 5px 0 ;
    border: 2px ridge rgb(255, 150, 89);
    border-radius: 10px;
    margin-top: 10px; 
    font-family: 'Nanum Pen Script', cursive;
    font-size: x-large;
}

.orangebg{
    background-color: orange;
    font-weight: bold;
}
.border{
    border : 5px ridge rgb(201, 114, 0);
}
.scroll{
    position : absolute;
    right: 10%;
    bottom: 10%;
}

footer{
    color: black;
    margin: 0;
}

#footerimg{
    width: 40%;
    height: 70%;
}