@keyframes compare{
    from{
      left:100px;
    }
    to{
      left:300px;
    }
  }

  @keyframes dolphin-ani{
    to{
      background-position: -2160px 0;
    }
  }
  @keyframes rainbow-ani{
    to{
      background-position: -2880px 0;
    }
  }

div{
    position:absolute;
    left:100px;
    width:100px;
    height:50px;
    margin-left:-100px;
    background-color:#000;
    color:#fff;
    animation: compare 2s infinite alternate;
  }
.ease{
   top : 30%;
   animation-timing-function:ease;
}
.ease_in_out{
    top:40%;
    animation-timing-function:ease-in-out;
  }

.dolphin{
    width: 720px;
    height: 720px;
    background: url('../img/dolphin.jpg');
    animation: dolphin-ani 4s infinite steps(3);
  }

.rainbow{
    width: 720px;
    height: 720px;
    background: url('../img/color.jpg');
    animation: rainbow-ani 3s infinite alternate;
  }
  
