:root {
  /* color */
  --color-black: #3f454d;
  --color-whiteblack: #dfe4ea;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-orange: orange;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
  --color-whitepink: bisque;

  /* size */
  --body-margin-size: 40px;
  --margin-size: 20px;
  --padding-size: 5px;
  --logo-size: 80px;
  --icon-size: 100px;
  --gap-size: 10px;
  --radius-size: 3px;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  margin: var(--margin-size);
}
a {
  text-decoration: none;
  color: black;
}

/* navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  display: flex;
  align-items: center;
}
.navbar__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.menu__item {
  margin: var(--margin-size);
  text-align: center;
}

.menu__item::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background-color: var(--color-orange);
  margin: auto;
  transition: all 0.5s ease;
}
.menu__item:hover::after {
  width: 100%;
  /* transform: scale(2); */
}
.logo__img {
  width: var(--logo-size);
}

/* sidemenu */
.sidemenu {
  list-style: none;
  position: fixed;
  bottom: 25%;
  right: var(--margin-size);
}
.sidemenu li {
  margin: var(--margin-size);
  text-align: center;
}
.bgMode {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* home */
.home {
  position: relative;
  z-index: -10;
  margin-top: 10%;
  margin-bottom: 30%;
  text-align: center;
  background: center/480px no-repeat url("img/paint.gif");
}

.home__title {
  font-size: 100px;
  display: inline-block;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 0;
  animation: textup 1s infinite;
}
.home__title:hover {
  animation: none;
}

.home__description {
  margin-top: 0;
  width: 100%;
  text-align: center;
  font-size: 45px;
}
@keyframes textup {
  0% {
    color: var(--color-pink);
    position: relative;
    transform: translateY(-5px);
    text-shadow: 5px 5px #3f454d;
  }
  20% {
    color: crimson;
    text-shadow: 7px 7px #fbbe28;
  }
  40% {
    color: #fbbe28;
    text-shadow: 5px 5px crimson;
  }
  60% {
    color: forestgreen;
    text-shadow: 4px 4px mediumseagreen;
  }
  80% {
    color: navy;
    /* text-shadow: 5px 5px skyblue; */
  }
  100% {
    color: black;
  }
}
.toggleBtn {
  display: none;
  position: absolute;
  top: 42px;
  right: 32px;
  font-size: 25px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .home__title {
    font-size: 80px;
    margin-top: var(--margin-size);
  }
  .navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .mobile__navbar--menu {
    display: none;
    width: 100%;
  }
  .sidemenu {
    width: 100%;
    bottom: 0%;
    right: 0;
    background-color: var(--color-whitepink);
  }
  .sidemenu li {
    margin: 0;
  }
  .mobile__sidemenu {
    display: flex;
    margin: var(--padding-size);
    gap: 0;
    padding: calc(var(--margin-size) / 1.5);
    justify-content: space-evenly;
  }

  .home {
    background-size: 340px;
    background-position: 50% 2%;
  }
  .toggleBtn {
    display: block;
  }
  .toggled {
    display: flex;
  }
}
