:root {
  /* color */
  --color-black: #3f454d;
  --color-whiteblack: #dfe4ea;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
  --color-whitepink: bisque;

  /* size */
  --body-margin-size: 40px;
  --margin-size: 20px;
  --padding-size: 5px;
  --logo-size: 80px;
  --icon-size: 100px;
  --gap-size: 10px;
  --radius-size: 3px;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  margin: var(--margin-size);
}
a {
  text-decoration: none;
  color: black;
}
/* navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  display: flex;
  align-items: center;
}
.navbar__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.navbar__menu li {
  margin: var(--margin-size);
}
.logo__img {
  width: var(--logo-size);
}

/* sidemenu */
.sidemenu {
  list-style: none;
  position: fixed;
  bottom: 30%;
  right: var(--margin-size);
}
.sidemenu li {
  margin: var(--margin-size);
}
.bgMode {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.home {
  text-align: center;
  background: center/480px no-repeat url("img/paint.gif");
}

.home__title {
  font-size: 100px;
  display: inline-block;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 0;
  animation: textup 1s 0.7s infinite;
}
.home__title:hover {
  animation: none;
}

.home__description {
  margin-top: 0;
  width: 100%;
  text-align: center;
  font-size: 45px;
}
@keyframes textup {
  0% {
    color: var(--color-pink);
    position: relative;
    transform: translateY(-5px);
    text-shadow: 5px 5px #3f454d;
  }
  20% {
    color: crimson;
    text-shadow: 7px 7px #fbbe28;
  }
  40% {
    color: #fbbe28;
    text-shadow: 5px 5px crimson;
  }
  60% {
    color: forestgreen;
    text-shadow: 4px 4px mediumseagreen;
  }
  80% {
    color: navy;
    /* text-shadow: 5px 5px skyblue; */
  }
  100% {
    color: black;
  }
}
@media screen and (max-width: 768px) {
  .home__title {
    font-size: 80px;
  }

  .navbar__menu li {
    margin: calc(var(--margin-size) / 2);
  }
  .sidemenu {
    width: 100%;
    bottom: 0%;
    right: 0;
    background-color: var(--color-whitepink);
  }
  .mobile__sidemenu {
    display: flex;
    margin: 0;
    gap: 0;
    padding: calc(var(--margin-size) / 1.5);
    justify-content: space-evenly;
  }
  .mobile__sidemenu li {
    margin: 0;
  }
  .home {
    background-size: 340px;
    background-position: 50% 40%;
  }
}
