:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --hover-color: #d49466;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  height: 100vh;
  background-color: rgb(243, 209, 214);
}

.navbar {
  background-color: var(--background-color);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.navbar .logo {
  display: flex;
  align-items: center;
  color: var(--text-color);
}
.navbar .logo img {
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  margin-right: 1vh;
}

.navbar .menu {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0;
}

.navbar .menu li {
  padding: 8px 12px;
}

.navbar .menu li:hover {
  background-color: var(--hover-color);
  border-radius: 4px;
}
.navbar a {
  text-decoration: none;
  color: var(--text-color);
}
.navbar .links {
  display: flex;
  list-style: none;
}

.navbar .links li {
  padding: 8px 12px;
}
.togglebtn {
  display: none;
  position: absolute;
  top: 22px;
  right: 32px;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .togglebtn {
    display: block;
  }

  .navbar .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .menu li {
    width: 100%;
    text-align: center;
  }

  .navbar .links {
    justify-content: center;
    width: 100%;
    display: none;
    padding-left: 0;
  }
  .navbar .clicked {
    display: flex;
  }
}
