:root {
  /* color */
  --color-black: black;
  --color-whiteblack: #3f454d;
  --color-whitegray: rgb(214, 214, 214);
  --color-white: #ffffff;
  --color-light-white: #dbdbdb;
  --color-blue: #3b88c3;
  --color-whiteblue: #a6eae7;
  --color-yellow: #fdd46b;
  --color-whiteyellow: #ffe8ad;
  --color-pink: #ffaaad;
  --color-beige: #fff4e3;
  --color-orange: #fdc5a0;
  --color-light-grey: #dfdfdf;
  /* size */
  --margin-size: 16px;
  --margin-half-size: 8px;
  --margin-double-size: 32px;
  --padding-size: 5px;
  --logo-size: 40px;
  --thumail-size: 250px;
  --icon-size: 100px;
  --project-size: 280px;
  --section-size: 48px;
  --gap-size: 10px;
  --radius-size: 4px;
  --gauge--heigth: 5px;
  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}
/* Universal tags */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0;
  font-size: large;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
button {
  cursor: pointer;
  background-color: transparent;
}
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: var(--margin-size) 0;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: var(--margin-half-sizesize) 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: var(--margin-half-sizesize) 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: calc(var(--margin-half-sizesize) / 2) 0;
}

section {
  padding: var(--section-size) 0;
}
/* navbar */

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  margin: var(--margin-size) 0;
  transition: all 100ms ease-in-out;
}

.navbar a {
  text-decoration: none;
  color: black;
}
.navbar__logo {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--gap-size);
  padding: var(--margin-half-size);
  font-size: calc(var(--font-regular) * 1.2);
}
.navbar__logo img {
  width: var(--logo-size);
  height: var(--logo-size);
}

.navbar__menu {
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  /* gap: calc(var(--gap-size) * 3); */
}
.menu {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--radius-size);
}
.menu:hover {
  background-color: var(--color-orange);
}
.menu.active {
  color: var(--color-pink);
}
/* thumbnail */
.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  /* background: linear-gradient(to top, #94e2e4, var(--color-beige) 40%); */
  background: center/cover no-repeat url(img/background.png);
}

.orangebg {
  padding: 2px;
  background-color: var(--color-orange);
  border-radius: 10px;
}
.thumbnail__avatar {
  width: var(--thumail-size);
  height: var(--thumail-size);
  border: 10px solid white;
  border-radius: 50%;
}
.thumbnail__title {
  width: 80%;
  font-size: var(--font-large);
}

.thumbnail__description {
  margin: var(--margin-half-size);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}

.thumbnail__contact {
  margin: var(--margin-half-size) 0;
  background-color: var(--color-orange);
  border: 1px dashed black;
  padding: var(--margin-size);
  border-radius: var(--radius-size);
  outline: none;
  font-weight: var(--weight-semi-bold);
}
.thumbnail__contact:hover {
  background-color: var(--color-whiteyellow);
  transition: all 300ms ease-in-out;
}

/* about */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #a6eae7, white 10%);
}

.about__description {
  margin-bottom: var(--margin-size);
  font-size: var(--font-regular);
}
.major__icon {
  display: flex;
  justify-content: center;
  gap: var(--gap-size);
  font-size: var(--icon-size);
}
.major__icon i:hover {
  transform: scale(1.2) rotate(10deg);
  transition: all 0.3s ease;
}
.fa-html5 {
  color: orangered;
}
.fa-css3-alt {
  color: rgb(63, 63, 224);
}
.fa-js-square {
  color: var(--color-yellow);
}
.fa-server {
  color: var(--color-blue);
}

.major__title {
  font-size: var(--font-medium);
  padding: 0;
}
.major__description {
  padding: var(--padding-size);
  text-align: center;
  font-size: medium;
}
.major p {
  margin: 0%;
}
.about__major {
  margin: var(--margin-double-size) 0;
  padding: calc(var(--padding-size) * 2);
  display: flex;
  flex-direction: row;
  gap: calc(var(--gap-size) * 2);
}
.about__article--pv {
  margin: var(--margin-size);
  padding-left: var(--margin-size);
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  align-items: center;
  gap: var(--gap-size);
}
.about__article--pv img {
  width: calc(var(--logo-size) * 2);
  height: var(--logo-size);
}
.about__container {
  width: 70%;
  margin: auto;
  padding: 0;
}
.skills {
  padding-bottom: 80px;
  background-color: var(--color-whiteyellow);
}
.skills__description {
  margin-top: var(--margin-size);
  margin-bottom: var(--margin-double-size);
}
.skills__container {
  width: 70%;
  margin: auto;
  padding: 0;
}

.skills__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--color-light-white);
}
.skills__box h3 {
  color: var(--color-light-white);
}

.skills__box--skillgraph {
  flex: 1 1 60%;
  background-color: rgb(73, 73, 73);
}
.skillgraph__title {
  margin: var(--margin-size);
}
.skillgraph__process {
  margin: calc(var(--margin-size) * 2);
}
.process__description {
  display: flex;
  justify-content: space-between;
}
.process__maxbar {
  width: 100%;
  height: var(--gauge--heigth);
  background-color: var(--color-black);
  border-radius: var(--radius-size);
}
.process__value {
  width: 100%;
  height: var(--gauge--heigth);
  border-radius: var(--radius-size);
  background-color: var(--color-orange);
}

.skill___box--rigth {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  background-color: darkgray;
}
.toolsbox {
  background-color: gray;
}

.toolsbox,
.etc {
  padding: var(--margin-size);
}
.toolsbox__list {
  list-style: none;
  text-align: center;
  padding: 0;
}

.etc__list {
  list-style: none;
  padding: 0;
}

/* myWork */
.buttons__btn {
  outline: none;
  cursor: pointer;
  font-size: var(--font-regular);
  padding: 4px 30px;
  border: 1px solid var(--color-whiteblack);
  border-radius: var(--radius-size);
  margin: var(--padding-size);
  position: relative;
}
.buttons__btn.active,
.buttons__btn:hover {
  background-color: var(--color-orange);
}

.buttons__btn.active .buttons__count,
.buttons__btn:hover .buttons__count {
  opacity: 1;
  top: 3px;
}
.buttons__count {
  background-color: var(--color-yellow);
  border-radius: 50%;
  color: white;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 4px;
  opacity: 0;
  transition: all 300ms ease;
}
.myWork__buttons {
  margin: var(--margin-size);
}
.myWork__projects {
  width: 76%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-size);
}
.project.invisible {
  display: none;
}
.myWork__projects.projectOpacity {
  animation-duration: 0.3s;
  animation-name: fadeout;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    transform: scale(0.96) translateY(40px);
    opacity: 0;
  }
}
.project {
  position: relative;
  width: var(--project-size);
  height: calc(var(--project-size) * 1.6);
  margin: 2px;
  background-color: var(--color-light-white);
}
.project__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* max-width: 100%;
  max-height: 100%; */
}
.project__description {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all 300ms ease-in;
}
.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}
.project__description p {
  color: wheat;
}
.project__description h3 {
  color: var(--color-whiteblue);
}
.project__description h3::after {
  content: "";
  width: 100px;
  transform: translateX(-35%);
  height: 2px;
  position: relative;
  left: 45%;
  margin: 8px 0;
  background-color: white;
  display: block;
}
/* testmonial */
.testmonials {
  background: linear-gradient(to top, var(--color-whiteyellow), white 30%);
}
.testmonials__talk {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px;
}
.testmonials__avatar {
  width: calc(var(--icon-size) * 1.5);
  border-radius: 50%;
}
.talk__box {
  padding: var(--margin-size);
}
.talk__box:nth-child(odd) {
  margin-right: var(--margin-size);
}
.talk__box:nth-child(even) {
  margin-left: var(--margin-size);
}

/* contact */
#Contact {
  padding: var(--padding-size);
  background-color: var(--color-whiteyellow);
}
.Contact__title {
  margin: var(--margin-size) 0;
}
.Contact__links {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: calc(var(--gap-size) * 4);
  font-size: 25px;
  list-style: none;
}
.Contact__links i:hover {
  color: var(--color-blue);
  transform: scale(1.2);
  transition: all 200ms ease;
}
.Contact__links a {
  color: black;
}
.toggle_btn {
  z-index: 11;
  position: absolute;
  top: 15px;
  right: 32px;
  font-size: 24px;
  background: none;
  border: none;
  outline: none;
  display: none;
}
.arrow_btn {
  z-index: 10;
  position: fixed;
  width: calc(var(--font-large) * 1.2);
  height: calc(var(--font-large) * 1.2);
  padding: 0;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: transparent;
  font-size: var(--font-large);
  color: var(--color-white);
  opacity: 0;
  pointer-events: none;
  background: var(--color-blue);
  transition: all 300ms ease-in-out;
}

.ActiveFixed {
  z-index: 10;
  background-color: var(--color-whiteyellow);
  padding: 0;
  margin: 0;
}
.ActiveOpacity {
  opacity: 1;
  pointer-events: auto;
}
@media screen and (max-width: 768px) {
  :root {
    --font-large: 25px;
    --font-medium: 16px;
    --font-regular: 14px;
    --font-small: 12px;
    --thumail-size: 200px;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .navbar__menu {
    display: none;
    padding: 40px;
    width: 100%;
    flex-direction: column;
    background-color: var(--color-beige);
  }
  .navbar__menu.ActiveFixed {
    background-color: var(--color-whiteyellow);
    padding: 0px;
  }
  .toggled {
    display: block;
  }
  .skills__container {
    width: 85%;
  }
  .about__container {
    width: 100%;
  }
  .thumbnail__description,
  .about__description {
    padding: 0 40px;
  }
  .about__major {
    flex-direction: column;
    padding: 16px;
    gap: 50px;
  }
  .about__article--pv {
    padding: 0;
    margin: 0 8px;
    font-size: var(--font-small);
  }
  .major__description {
    margin: auto;
    width: 80%;
  }
  .about__article--pv img {
    width: calc(var(--logo-size));
    height: clac(var(--logo-size) / 2);
  }
  .skills__box {
    flex-direction: column;
  }
  .buttons__btn.active .buttons__count,
  .buttons__btn:hover .buttons__count {
    top: 0px;
  }
  .myWork__projects {
    width: 100%;
    flex-grow: 1;
  }
  .talk__box {
    padding: 0;
  }
  .testmonials__talk {
    display: flex;
    flex-direction: column;
  }
  .talk__box:nth-child(odd) {
    margin-right: 0;
  }
  .talk__box:nth-child(even) {
    margin-left: 0;
  }
  .talk__box {
    order: 1;
  }
  .toggle_btn {
    position: fixed;
    display: block;
  }
}
