:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fdd46b;
  --color-whiteyellow: #ffe8ad;
  --color-pink: #ffaaad;
  --color-orange: #fdc5a0;
  --color-light-grey: #dfdfdf;
  /* size */
  --margin-size: 20px;
  --padding-size: 5px;
  --logo-size: 40px;
  --thumail-size: 200px;
  --icon-size: 100px;
  --project-size: 200px;
  --gap-size: 10px;
  --radius-size: 3px;
  --gauge--heigth: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
h2 {
  font-size: larger;
}
/* navbar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: black;
}
.navbar__logo {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--gap-size);
}
.navbar__logo img {
  width: var(--logo-size);
  height: var(--logo-size);
}

.navbar__menu {
  margin-right: var(--margin-size);
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: calc(var(--gap-size) * 3);
}

/* thumbnail */
.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url(img/circle.png);  */
}

.orangebg {
  background-color: var(--color-orange);
  border-radius: 10px;
}
.thumbnail__avatar {
  width: var(--thumail-size);
  height: var(--thumail-size);
}
.thumbnail h1 {
  width: 80%;
}

.thumbnail h2 {
  font-size: 1rem;
  font-weight: 600;
}

.thumbnail__contact {
  margin: var(--margin-size);
  background-color: var(--color-orange);
  border: 1px solid black;
  padding: var(--padding-size);
  border-radius: var(--radius-size);
  outline: none;
  font-weight: 600;
}

/* about */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__div {
  width: 80%;
  margin-bottom: var(--margin-size);
}
.major__icon {
  display: flex;
  justify-content: center;
  gap: var(--gap-size);
  font-size: var(--icon-size);
}
.fa-html5 {
  color: orangered;
}
.fa-css3-alt {
  color: rgb(63, 63, 224);
}
.fa-js-square {
  color: var(--color-yellow);
}
.fa-server {
  color: var(--color-blue);
}
.major__description {
  padding: var(--padding-size);
  text-align: center;
  font-size: medium;
}
.major p {
  margin: 0%;
}
.about__major {
  padding: calc(var(--padding-size) * 2);
  display: flex;
  flex-direction: row;
  gap: calc(var(--gap-size) * 2);
}
.about__article--pv {
  margin: var(--margin-size);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: calc(var(--gap-size) / 2);
}
.about__article--pv img {
  width: calc(var(--logo-size) * 2);
  height: var(--logo-size);
}
.skills {
  padding: calc(var(--margin-size) * 2);
  background-color: var(--color-whiteyellow);
}
.skills__description {
  margin: var(--margin-size);
}

.skills__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-size);
}

.skills__box--skillgraph {
  flex: 1 1 60%;
}
.skillgraph__title {
  margin-bottom: 0;
}
.skillgraph__process {
  margin: calc(var(--margin-size) * 2);
}
.process__description {
  display: flex;
  justify-content: space-between;
}
.process__maxbar {
  width: 100%;
  height: var(--gauge--heigth);
  background-color: var(--color-black);
  border-radius: var(--radius-size);
}
.skills__box--HTML {
  width: 100%;
  height: var(--gauge--heigth);
  background-color: var(--color-black);
  border-radius: var(--radius-size);
}
.skills__box--HTML::after {
  content: "";
  width: 80%;
  height: var(--gauge--heigth);
  display: block;
  background-color: green;
  border-radius: var(--radius-size);
}

.skill___box--rigth {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
}
.toolsbox__list {
  list-style: none;
  text-align: center;
  padding: 0;
}
.etc__list {
  list-style: none;
  padding: 0;
}

/* myWork */
.buttons__btn {
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: var(--margin-size);
  margin-bottom: var(--margin-size);
  border-radius: var(--radius-size);
  background-color: var(--color-orange);
}
.myWork__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-size);
}
.project__img {
  width: var(--project-size);
  /* height: calc(var(--project-size) * 1.5); */
}
/* testmonial */
.testmonials__talk {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testmonials__talk img {
  width: calc(var(--icon-size) * 2);
}

/* contact */
.Contact {
  padding: var(--padding-size);
  background-color: var(--color-orange);
}

.Contact__links {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: calc(var(--gap-size) * 4);
  font-size: 25px;
  list-style: none;
}
.Contact__links a {
  color: black;
}
