body{
    background-color: gray;
}

h1{
    color : black;
    transition: color 0.5s ease-in-out;
}

.clicked{
    color : white;
}
.clock h1{
    color: white;
}
.btn{
    cursor: pointer;
}

.form,
.greeting {
    display: none;
}

.showing{
    display: block;
}